<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZMciEqgYPfSDmCZa1_2vERVUHNRdiVu8</string>
	<key>GCM_SENDER_ID</key>
	<string>735619299759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.radar</string>
	<key>PROJECT_ID</key>
	<string>radar-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>radar-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735619299759:ios:1769cf858e08ac987d175a</string>
	<key>DATABASE_URL</key>
	<string>https://radar-2024-default-rtdb.firebaseio.com</string>
</dict>
</plist>